@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.page-links {
    display: flex;
    gap: 24px;
}

.page-links li {
    list-style: none;
}

.page-links li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.search-bar {
    width: 510px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 12px;
    border-radius: 66px;
    border: none;
    background-color: #F1F1F1;
    font-size: 16px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder {
    color: #CCCCCC;
}

.search-bar span i {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #BABABA;
}

.banner {
    background-color: #FEEAE9;
    margin-top: 60px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 560px;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    color: #1F1F1F;
    text-transform: uppercase;
}

.banner-description {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #4E4E4E;
    margin-top: 8px;
}

.banner-img img {
    width: 402px;
    height: 378px;
}

.banner-price {
    font-size: 41px;
    font-weight: 500;
    color: #FF136F;
    margin-top: 16px;
}

.banner-btn {
    background-color: #ff2e80;
    color: #ffffff;
    padding: 16px 28px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: .3s;
}

.banner-btn:hover {
    background-color: #FF136F;
}

/* Categories */
.categories-section {
    max-width: 1128px;
    margin: 0 auto;
    margin: 64px auto;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.categories-title {
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
    text-transform: capitalize;
}

.single-categories {
    background: linear-gradient(90deg, rgba(255, 156, 53, 1) 0%, rgba(255, 205, 25, 1) 100%);
    border-radius: 16px;
    padding: 15px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-categories:nth-child(2) {
    background: linear-gradient(90deg, rgba(255, 81, 150, 1) 0%, rgba(255, 36, 122, 1) 100%);
}

.single-categories:nth-child(3) {
    background: linear-gradient(90deg, rgba(66, 125, 254, 1) 0%, rgba(63, 9, 248, 1) 100%);
}

.single-categories-title {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}

.categories-image img {
    width: 68px;
    height: 90px;
    object-fit: cover;
}

/* Shoes section */
.shoes-section {
    background-color: #F4F4F4;
}

.shoes-container {
    max-width: 1128px;
    margin: 0 auto;
    padding-top: 48px;
}

.shoes-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoes-section-title {
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
    text-transform: capitalize;
}

.shoes-wrap a {
    font-size: 20px;
    font-weight: 500;
    color: #ff9D00;
    text-decoration: none;
    text-transform: capitalize;
}

.shoes-card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 24px;
}

.shoes-card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 24px;
}

.shoes-image img {
    width: 100%;
    object-fit: cover;
}

.shoes-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #1F1F1F;
}

.shoes-description {
    font-size: 16px;
    color: #4E4E4E;
    margin-top: 16px;
    text-align: center;
}

.shoes-price {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin: 16px 0;
    text-align: center;
}

.black-btn {
    padding: 16px 28px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
}

.black-btn:hover {
    background-color: #1F1F1F;
}